<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terraria Server Control</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>

    <h1>Start Instance</h1>
    <p>World name: <%= world.name %></p>
    <form action="" method="post">
        <div>
            <label for="port">Port</label>
            <input type="number" name="port" id="port" value="7777">
        </div>
        <div>
            <button type="submit">Start</button>
        </div>
    </form>
</body>
</html>