<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Login</h1>
    <% if (error) { %>
        <p><%= error %></p>
    <% } %>
    <form action="" method="post">
        <div>
            <label for="apiKey">API Key</label>
            <input type="text" name="apiKey" id="apiKey">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>